.DS_Store
*.cache
/User/Package Control.last-run
/User/Package Control.merged-ca-bundle
/User/Package Control.system-ca-bundle
/User/Package Control.user-ca-bundle
/User/Package Control.cache/
/User/Package Control.cache/*
/User/WakaTime.sublime-settings